


@media (max-width: 800px)
	body
		font-size 20px

@media (max-width: 600px)
	body
		font-size 17px
	header.main
		font-size 1.5em

@media (max-width: 500px)
	body
		font-size 15px
	header.main
		font-size 1.5em

@media (max-width: 400px)
	body
		font-size 17px
	
	header.main
		font-size 1.5em
		nav
			ul
				li
					display block
					text-align center
					margin 0 0 0.5em
