a_color = #666
a_color_hover = #333

body
	font-size 23px
	max-width 700px
	margin 0 auto
	padding 0.5em 1em

a
	color a_color

	&:hover
		color a_color_hover

img
	height 1em



header.main
	margin 0 0 1em

	nav
		ul
			li
				display inline-block
				margin 0 1em 0 0

section
	header
		h2
			font-size 1.5em
			margin 0 0 0.5em


footer.main
	margin 1em 0
