extends layout.jade

block content
	div#wrapper
		header.main header
		
		div#container
			div.row#row-1
				div.left.content
					nav
						ul
							li.item.item-1
								header Header 1 Row 1 Item 1
								div.description
									div	Lorem Ipsum dolor sit amet
							li.item.item-2
								header Header 2 Row 1 Item 1
								div.description
									div	Lorem Ipsum dolor sit amet
				div.right.content
					nav
						ul
							li.item.item-1
								header Header 1 Row 1 Item 2
								div.description
									div Lorem Ipsum dolor sit amet
							li.item.item-2
								header Header 2 Row 1 Item 2 
								div.description
									div Lorem Ipsum dolor sit amet

			div.row#row-2
				div.left.content
					nav
						ul
							li.item.item-1
								header Header 1 Row 2 Item 1
								div.description
									div Lorem Ipsum dolor sit amet
							li.item.item-2
								header Header 2 Row 2 Item 1
								div.description
									div Lorem Ipsum dolor sit 
				
				div.right.content
					nav
						ul
							li.item.item-1
								header Header 1 Row 2 Item 2
								div.description
									div Lorem Ipsum dolor sit amet
							li.item.item-2
								header Header 2 Row 2 Item 2
								div.description
									div Lorem Ipsum dolor sit 
			
			div.row#row-3
				div.left.content
					nav
						ul
							li.item.item-1
								header Header 1 Row 3 Item 1
								div.description
									div Lorem Ipsum dolor sit amet
							li.item.item-2
								header Header 2 Row 3 Item 1
								div.description
									div Lorem Ipsum dolor sit 
				
				div.right.content
					nav
						ul
							li.item.item-1
								header Header 1 Row 3 Item 2
								div.description
									div Lorem Ipsum dolor sit amet
							li.item.item-2
								header Header 2 Row 3u Item 2
								div.description
									div Lorem Ipsum dolor sit 
