extends layout.jade

block content
	section#about
		header
			h2 Jascha Ehrenreich

		nav
			ul
				li: a(href="https://keybase.io/jascha/") keybase
				li: a(href="http://jaeh.at/keybase.txt") keybase.txt
				li: a(href="https://twitter.com/weirdpress") twitter
				li: a(href="http://suppe.jaeh.at") soup
				li: a(href="https://facebook.com/jascha.ehrenreich/") facebook
