doctype html
html(lang="en" itemscope itemtype="http://schema.org/ProfilePage")
	head 
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Jascha Ehrenreich - Webbed Magic
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href=static_dir + "css/main.css")

		meta(property="og:title" content=person.firstname + " " + person.lastname  + ": " + person.slogan)
		meta(property="og:image" content="http://jaeh.at/static/img/jascha.ehrenreich.png")
		meta(name="description" property="og:description" content="Learn more about Jascha Ehrenreich. Webprogrammer and Streetartist.")

	body
		block header
			if logo
				header.main
					div#logo
						img(src=logo)

		block content 
			div empty body content

		block footer
